@import url('https://fonts.googleapis.com/css?family=Open+Sans')

body
  padding: 50px
  margin: 0
  font-family: 'Open Sans', sans-serif
  
.inner
  display: none
  
.inner.active
  display: block
  
.col
  display: inline-block

.block
  display: block
  border-style: solid
  border-width: 7px 0 0 7px
  border-color: #000
  height: 40px
  width: 42px
  cursor: pointer
  -webkit-transition: all .5s
  -moz-transition: all .5s
  -ms-transition: all .5s
  -o-transition: all .5s
  transition: all .5s

.block:hover
  background: rgba(0, 0, 0, 0.5)
  -webkit-transition: all .5s
  -moz-transition: all .5s 
  -ms-transition: all .5s 
  -o-transition: all .5s 
  transition: all .5s 

.left-blue
  border-left-color: blue

.top-blue
  border-top-color: blue

.fill-blue
  background: #4752ff


.left-red
  border-left-color: red

.top-red
  border-top-color: red

.fill-red
  background: #ff5549
