@import url('https://fonts.googleapis.com/css?family=Open+Sans')
$blue: #4169ff
$purple: #7477ff
$green: #00baa7
$orange: #f68d5f
$red_bar: #fa4c32
$red_fill: #fa8264
$blue_bar: #007bd5
$blue_fill: #4bb1e0
$gradient: linear-gradient(135deg, #4144c0 0%, #ffc2a0 100%)
$border_bloc: #325c80

body
  padding: 50px
  margin: 0
  font-family: 'Open Sans', sans-serif
  background: green
  color: white
  min-height: calc(100vh - 100px)

input[type="text"]
  background: transparent
  padding: 5px
  border-style: solid
  border-width: 0 0 1px 0
  border-color: $blue
  color: white
  
#home, #game
  text-align: center

#score
  position: fixed
  top: 0
  left: 0
  padding: 15px
  background: $orange
  border-radius: 0 0 5px
  margin: 0

#turn
  position: fixed
  top: 0
  right: 0
  padding: 15px
  background: $orange
  border-radius: 0 0 0 5px
  margin: 0

.btn
  color: white
  background: $green
  border-style: none
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  padding: 5px 15px

.inner
  display: none
  
.inner.active
  display: block
  
.col
  display: inline-block

.block
  display: block
  border-style: solid
  border-width: 7px 0 0 7px
  border-color: $border_bloc
  height: 40px
  width: 42px
  cursor: pointer
  -webkit-transition: all .5s
  -moz-transition: all .5s
  -ms-transition: all .5s
  -o-transition: all .5s
  transition: all .5s

.block:hover
  background: rgba(0, 0, 0, 0.5)
  -webkit-transition: all .5s
  -moz-transition: all .5s 
  -ms-transition: all .5s 
  -o-transition: all .5s 
  transition: all .5s 

.left-blue
  border-left-color: $blue_bar

.top-blue
  border-top-color: $blue_bar

.fill-blue
  background: $blue_fill


.left-red
  border-left-color: $red_bar

.top-red
  border-top-color: $red_bar

.fill-red
  background: $red_fill

.modal
  position: fixed
  width: 100%
  height: 100%
  background: rgba(128, 128, 128, 0.9)
  top: 0
  left: 0
  
.choose
  position: relative
  width: 250px
  height: 250px
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  
.bartop, .barbottom
  width: 100%
  height: 30px
  background-color: $border_bloc
  position: absolute

.barleft, .barright
  width: 30px
  height: 100%
  background-color: $border_bloc
  position: absolute

.bartop
  top: 0

.barbottom
  bottom: 0

.barleft
  left: 0

.barright
  right: 0

.barleft, .barright, .bartop, .barbottom
  cursor: pointer
  transition: all .5s

.barleft:hover, .barright:hover, .bartop:hover, .barbottom:hover
  cursor: pointer
  background: #4752ff
  transition: all .5s

.whity-left
  border-left: green
  border-left-width: 7px
  border-left-style: solid

.whity-top
  border-top: green
  border-top-width: 7px
  border-top-style: solid

@media screen and (max-width: 750px)
  body
    padding: 0
    
  #stick
    overflow: auto
    width: 100%
    display: flex

  #score
    position: static
    top: 0
    width: 100%
    padding: 15px
    background: $orange
    border-radius: 0

  #turn
    position: fixed
    bottom: 0
    right: 0
    top: auto
    padding: 15px
    background: $orange
    border-radius: 0
